*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    text-align: center;
    background: url(../Imagenes/fondofb.jpg);
}
header{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.itemsConsulta{
    position: absolute;
    visibility: hidden;
    background: #1b4f72;
    width: 250px;
    opacity: 0;
    transition: opacity 1.5s;
}
.itemsConsulta>li>a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.menu>#cons:hover .itemsConsulta{
    visibility: visible;
    display: block;
    opacity: 1;
}
.itemsConsulta li a:hover{
    background:#3498db ;
    display: block;
}
.itemsConsulta>li{
    width: 250px;
    background: #1b4f72;
}
.logout{
    width: 100%;
}
.logout ul{
    margin-right: 10px;
    list-style: none;
}
.cerrarSesion>li{
    text-decoration: none;
    text-align: right;
}
.cerrarSesion>li>a{
    padding: 15px 20px;
    color: #1b4f72;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #1b4f72;
    border-radius: 5%;
    background: white;
}

.fabrica{
    width: 100%;
}
.navegacion{
    margin: 0;
    margin-top: 50px;
    width: 100%;
    background:  #1b4f72;
}

.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li:hover{
    background: #3498db;
    transition: all .3s;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu >li > form{
    position: absolute;
    background: #f9f7f7;
    display: none;

}
.form{
    text-align: center;
    width: 200%;
    height: 110px;
    padding: 5px;
    border: 1px solid white;
    box-sizing: border-box;
}

.menu li:hover form{
    display: block;
}

.form input{
    width: 100%;
    height: 60px;
    margin-top:20px;    
}
.form input[type="submit"]{
    margin-top: 10px;
    width: 100%;
    height: 65px;
    background: #1b4f72;
    color:white;
    cursor: pointer;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 900;
}

.form input[type="submit"]:hover{
    background: #3498db;
}
.archivoCarga{
    width: 100%;
    height: 175px;
    margin-top: 100px;
}
.archivoCarga>form{
    height: 80px;   
    margin: 0;
    margin-top: 30%;
    width: 100%;
    margin-bottom: 0;
}
.archivo input[type="submit"]{
    height: 50px;
    width: 250px;
    margin-left: 20px;
    background: #1b4f72;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 20px; 
}
.archivo input[type="file"]{
    height: 30px;
    width: 450px;
    font-size: 20px;    
    color: white;
    background: #1b4f72;
    font-weight: bold;
}

.archivo input[type="submit"]:hover{
    background: #3498db;
}

