*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../Imagenes/fondofb.jpg);
}
header{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.logout{
    width: 100%;
}
.logout ul{
    margin-right: 10px;
    list-style: none;
}
.cerrarSesion>li{
    text-decoration: none;
    text-align: right;
}
.cerrarSesion>li>a{
    padding: 15px 20px;
    color: #1b4f72;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #1b4f72;
    border-radius: 5%;
    background: white;
}
.fabrica{
    width: 100%;
}
.navegacion{
    margin: 0;
    margin-top: 50px;
    width: 100%;
    background:  #1b4f72;
}

.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li:hover{
    background: #3498db;
    transition: all .3s;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu >li > form{
    position: absolute;
    background: #f9f7f7;
    display: none;
    
}
.form{
    text-align: center;
    width: 200%;
    height: 110px;
    padding: 5px;
    border: 1px solid white;
    box-sizing: border-box;
}

.menu li:hover form{
    display: block;
}

.form input{
    width: 100%;
    height: 60px;
    margin-top:20px;    
}
.form input[type="submit"]{
    margin-top: 10px;
    width: 100%;
    height: 65px;
    background: #1b4f72;
    color:white;
    cursor: pointer;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 900;
}

.form input[type="submit"]:hover{
    background: #3498db;
}
